
.header-1 {
    padding: 25px;
    background-color: #ebe6e6;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.scroll{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

.nav_container{
    display: flex;
    justify-content: space-between;
}

.nav_container a:hover {
    font-weight: 800;
    transition: 0001ms ease;
}

.nav_list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav_list a:hover {
    font-weight: 800;
    transition: 001s ease-in;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

li {
    list-style-type: none;
}

.nav_close, .nav_icon, .nav_toggle {
    display: none;
}

.nav_close, .nav_icon, .nav_toggle {
    display: none;
}

.nav_logo, .nav_toggle {
    color: #343434;
    font-weight: 500;
}


@media (max-width: 768px) {
    .logo {
        display: none;
    }
}



