.title_2 {
    
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.tt {
   text-align: center;
   display: block;
}

.img_me {
    width: 15rem;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 100px;
}

.about_container {
    align-items: center;
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}
.grid {
    grid-gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
}

.about_info {
    gap: 0.5rem;
    grid-template-columns: repeat(3, 140px);
    
}

.about_box {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    text-align: center;
}

.cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 13rem;
    border-radius: 10px;
    background-color: #343434;
    color: white;
    text-align: center;
    font-weight: 780;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.pp {
    font-size: 0.7rem;
}

.about_data {
    margin-top: 10px;
}

.about_section {
    margin-top: 100px;
}

.about {
    margin-top: 18rem;
    
}

@media screen and (max-width: 1117px) {
    .about_container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
}

@media screen and (max-width: 1117px) {
    .about_data {
        margin-left: 0.30rem;
        
    }
}

@media screen and (max-width: 1117px) {
    .text {
        text-align: center;
    }
}

@media screen and (max-width: 1117px) {
    .cv {
        margin-left: 8rem;
    }
}

@media screen and (max-width: 1117px) {
    .img_me {
        margin-left: 20rem;
    }
}

@media screen and (max-width: 578px) {
    .img_me {
        margin-left: 9rem;
    }
}





